main{
    max-width: 1240px;
    min-width: 768px;
    height: 3030px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Raleway Light";
    color: #2d2d2d;
}

h1, h2{
    font-family: "Playfair Display";
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

p{
    line-height: 160%;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}


/* Top Menu */
nav{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    grid-column-start: 2;
    display: inline-block;
}

nav li{
    float: left;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

#logo{
    height: 60px;
    margin-right: auto;
    margin-left: 5%;
}

a{
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #e2574c;
    text-decoration: none;
}

.shopping-cart{
    height: 40px;
    margin-left: auto;
    margin-right: 8%;
}

/* First Section - Banner Girl */
.section-banner-girl{
    background-image: url("images/flower-bkgd.jpg"), 
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/flower-bkgd.jpg");
    height: 20%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.banner-girl{
    height: 90%;
    align-self: flex-end;
}

.text-banner p, h1{
    color: white;
    z-index: 1;
}

.text-banner p{
    font-size: 30px;
}

.text-banner h1{
    font-family: "Playfair Display";
}

.section-first-call{
    height: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* Second section */
.section-first-call h2{
    margin-bottom: 2%;
}

.section-first-call p{
    max-width: 50%;
    word-wrap: break-word;
    text-align: center;
}

/* Third section */
.section-category{
    height: 20%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.section-category p{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 2px;
    font-weight: bold;
}

.section-category p:nth-child(1){
    width: 50%;
    background-image: url("images/mens-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/mens-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(2){
    background-image: url("images/trends-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/trends-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(3){
    background-image: url("images/glasses-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/glasses-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(4){
    background-image: url("images/sale-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/sale-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(5){
    background-image: url("images/bags-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/bags-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(6){
    width: 50%;
    background-image: url("images/womens-category.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/womens-category.jpg");
    background-size: 100%;
}

/* Card Section */
.section-cards{
    height: 22%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.section-cards h2{
    margin-bottom: 40px;
    /* font-size: 30px; */
    font-family: "Playfair Display";
}

.section-cards .carousel{
    position: relative;
}

.section-cards .carousel .card-container{
    width: 200%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.section-cards .card{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section-cards .card:hover{
    background-color: aqua;
    box-sizing: border-box;
    border: solid aqua;  
}

.section-cards .card img{
    width: 100%;
}

/* Sign Up Section */
.section-sign-up{
    height: 17%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: url("/images/wave-bkgd.jpg"),
    url("file:///Users/danielandrade/Documents/Curso%20Coding/Projetos/aloha-project-dcca/images/wave-bkgd.jpg");
    background-size: cover;
    /* background-position-y: center; */
    background-position: bottom;
}

.section-sign-up h2{
    margin-bottom: 20px;
}

.section-sign-up p{
    max-width: 50%;
    word-wrap: break-word;
    text-align: center;
}

.section-sign-up form{
    display: flex;
    margin-top: 20px;
    width: 40%;
}

.section-sign-up .sign-up input{
    border-radius: 30px;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 2% 2% 2% 4%;
    font-family: "Raleway Light"
}

input:focus{
    outline: none;
}

.section-sign-up .sign-up button{
    border-radius: 30px;
    font-size: 20px;
    width: 30%;
    margin-left: -26%;
    border: solid white;
    background-color: #e2574c;
    font-family: "Raleway Light";
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Footer */
footer{
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242424;
    color: white;
    font-family: "Playfair Display";
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .basic-info p:nth-of-type(3){
    margin: 15px auto;
}

footer .basic-info p:nth-of-type(4){
    color: #969696;
    max-width: 200px;
    word-wrap: break-word;
}

footer .social-links{
    font-family: "Raleway Light";
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    body {
      background-color: ;
    }
  }

@media only screen and (min-width: 600px) {
    body {
      background-color: ;
    }
  }