main{
    max-width: 1240px;
    margin: 0 auto;
}

/* Top Menu */
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    grid-column-start: 2;
    display: inline-block;
}

li{
    float: left;
    width: 100px;
}

#logo{
    height: 60px;
    margin-right: auto;
    margin-left: 5%;
}

a{
    width: 100px;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

.shopping-cart{
    height: 40px;
    margin-left: auto;
    margin-right: 8%;
}

/* First Section - Banner Girl */
.section-banner-girl{
    background-image: url("images/flower-bkgd.jpg");
    height: 600px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

picture{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.banner-girl{
    height: 95%;
    align-self: flex-end;
}

picture p, h1{
    color: white;
    z-index: 1;
}

picture p{
    font-size: 30px;
}

picture h1{
    font-size: 60px;
}

.section-first-call{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* Second section */
.section-first-call h2{
    font-size: 30px;
}

.section-first-call p{
    max-width: 50%;
    word-wrap: break-word;
    text-align: center;
}

/* Third section */
.section-category{
    height: 600px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.section-category p{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 2px;
}

.section-category p:nth-child(1){
    width: 50%;
    background-image: url("images/mens-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(2){
    background-image: url("images/trends-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(3){
    background-image: url("images/glasses-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(4){
    background-image: url("images/sale-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(5){
    background-image: url("images/bags-category.jpg");
    background-size: 100%;
}

.section-category p:nth-child(6){
    width: 50%;
    background-image: url("images/womens-category.jpg");
    background-size: 100%;
}




